.heading {
  grid-area: heading;
  position: sticky;
  bottom: 0;
  overflow-x: scroll;
  min-height: 100px;
  display: block;
}

.heading__text {
  display: block;
  font-size: 48px;
  white-space: nowrap;
  overflow-x: scroll;

  animation: colorshift 0.3s steps(1) infinite;
  width: 100%;
  padding: 20px;
  color: #00ff62;

  backdrop-filter: blur(50px) contrast(0.8) saturate(0.9);
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 5px,
    rgba(0, 0, 0, 0.1) 5px,
    rgba(0, 0, 0, 0.1) 8px
  );

  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
}

@keyframes colorshift {
  0%,
  96% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      5px 0 0 rgba(255, 0, 0, 0.5), -3px 0 0 rgba(0, 255, 0, 0.5);
  }
  97% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      7px 0 0 rgba(255, 0, 0, 0.6), -4px 0 0 rgba(0, 255, 0, 0.3);
  }
  98% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      2px 0 0 rgba(255, 0, 0, 0.3), -3px 0 0 rgba(0, 255, 0, 0.6);
  }
  99% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      -5px 0 0 rgba(255, 0, 0, 0.4), 3px 0 0 rgba(0, 255, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      5px 0 0 rgba(255, 0, 0, 0.5), -3px 0 0 rgba(0, 255, 0, 0.5);
  }
}
