.main {
  background-color: #272c35;
  width: 100vw;
  height: 100vh;
  padding: 25px;
}

.main-inside {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;

  /* ブラウン管の曲面効果 */
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5),
    inset 0 0 100px rgba(0, 0, 0, 0.3);

  /* スキャンラインのアニメーション */
  background:
    /* ノイズ効果 */ repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 3px
    ),
    /* メインのスキャンライン */
      linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 50%),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      hsla(0, 0%, 47.8%, 0.9) 3px,
      hsla(0, 0%, 47.8%, 0.9) 3px
    );
  background-size: 100% 100%, 100% 4px, 100% 100%;
  animation: scan 1s steps(60) infinite;
}

/* グロー効果とちらつき */
.main-inside::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.8;
  animation: flicker 0.15s infinite;
}

@keyframes scan {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: -10px 0, 0 50%, 0 0;
  }
  100% {
    background-position: 0 0, 0 100%, 0 0;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.95;
  }
  30% {
    opacity: 0.5;
  }
  35% {
    opacity: 0.95;
  }
  100% {
    opacity: 0.8;
  }
}
