.title {
  font-size: 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.2px 0 0 rgba(255, 0, 0, 0.1), -0.2px 0 0 rgba(0, 255, 0, 0.1),
    0 0.2px 0 rgba(0, 0, 255, 0.1);
  position: relative;
  letter-spacing: 1px;
  filter: contrast(0.9) brightness(0.88) blur(0.5px);
  animation: textFlicker 0.016s steps(4) infinite,
    normalDistort 8s ease-in-out infinite, glitchDistort 2s steps(1) infinite;
}

@keyframes textFlicker {
  0% {
    opacity: 0.8;
    filter: contrast(0.9) brightness(0.88) blur(0.5px);
  }
  30% {
    opacity: 0.78;
    filter: contrast(0.88) brightness(0.86) blur(0.6px);
  }
  60% {
    opacity: 0.81;
    filter: contrast(0.89) brightness(0.87) blur(0.5px);
  }
  100% {
    opacity: 0.8;
    filter: contrast(0.9) brightness(0.88) blur(0.5px);
  }
}

@keyframes normalDistort {
  0%,
  100% {
    transform: scale(1) translate(0, 0) skew(0deg);
  }
  25% {
    transform: scale(1.0002) translate(1px, 0) skew(0.2deg);
  }
  50% {
    transform: scale(0.9998) translate(-1px, 0) skew(-0.2deg);
  }
  75% {
    transform: scale(1.0002) translate(0.5px, 0) skew(0.1deg);
  }
}

@keyframes glitchDistort {
  0%,
  40% {
    transform: scale(1) translate(0, 0) skew(0deg);
    filter: contrast(0.9) brightness(0.88) blur(0.5px);
    text-shadow: 0.2px 0 0 rgba(255, 0, 0, 0.1), -0.2px 0 0 rgba(0, 255, 0, 0.1),
      0 0.2px 0 rgba(0, 0, 255, 0.1);
  }
  71% {
    transform: scale(1.02) translate(-20px, 0) skew(-3deg);
    filter: contrast(1.1) brightness(1.1) blur(1px);
    text-shadow: 4px 0 0 rgba(255, 0, 0, 0.2), -4px 0 0 rgba(0, 255, 0, 0.2),
      0 0 0 rgba(0, 0, 255, 0.2);
  }
  41%,
  45% {
    transform: scale(1.02) translate(-20px, 0) skew(-3deg);
    filter: contrast(1.1) brightness(1.1) blur(1px);
    text-shadow: 4px 0 0 rgba(255, 0, 0, 0.2), -4px 0 0 rgba(0, 255, 0, 0.2),
      0 0 0 rgba(0, 0, 255, 0.2);
  }
  46%,
  50% {
    transform: scale(0.98) translate(15px, 0) skew(2deg);
    filter: contrast(0.8) brightness(0.8) blur(0.8px);
    text-shadow: -3px 0 0 rgba(255, 0, 0, 0.2), 3px 0 0 rgba(0, 255, 0, 0.2),
      0 0 0 rgba(0, 0, 255, 0.2);
  }
  51%,
  55% {
    transform: scale(1.01) translate(-12px, 0) skew(-2deg);
    filter: contrast(1) brightness(0.9) blur(0.6px);
    text-shadow: 2px 0 0 rgba(255, 0, 0, 0.15), -2px 0 0 rgba(0, 255, 0, 0.15),
      0 0 0 rgba(0, 0, 255, 0.15);
  }
  56%,
  60% {
    transform: scale(0.99) translate(8px, 0) skew(1deg);
    filter: contrast(0.9) brightness(0.85) blur(0.7px);
    text-shadow: -1px 0 0 rgba(255, 0, 0, 0.1), 1px 0 0 rgba(0, 255, 0, 0.1),
      0 0 0 rgba(0, 0, 255, 0.1);
  }
  61%,
  100% {
    transform: scale(1) translate(0, 0) skew(0deg);
    filter: contrast(0.9) brightness(0.88) blur(0.5px);
    text-shadow: 0.2px 0 0 rgba(255, 0, 0, 0.1), -0.2px 0 0 rgba(0, 255, 0, 0.1),
      0 0.2px 0 rgba(0, 0, 255, 0.1);
  }
}
