.container {
  display: grid;
  grid-template-areas:
    "content"
    "heading";
  grid-template-rows: 1fr auto;
  height: 100%;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
}
.list {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  overflow-y: auto;
  filter: contrast(0.9) blur(0.5px);
  text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62;
  color: #00ff62;
}
.list-item {
}

.list-item-link {
  font-size: 20px;
  display: block;

  display: grid;
  grid-template-rows: 1fr;

  &:hover {
    color: #333;
    background-color: #74f74b;
    text-shadow: 0 0 2px #333, 0 0 5px #333;
  }
}

@keyframes colorshift {
  0%,
  96% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      5px 0 0 rgba(255, 0, 0, 0.5), -3px 0 0 rgba(0, 255, 0, 0.5);
  }
  97% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      7px 0 0 rgba(255, 0, 0, 0.6), -4px 0 0 rgba(0, 255, 0, 0.3);
  }
  98% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      2px 0 0 rgba(255, 0, 0, 0.3), -3px 0 0 rgba(0, 255, 0, 0.6);
  }
  99% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      -5px 0 0 rgba(255, 0, 0, 0.4), 3px 0 0 rgba(0, 255, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62,
      5px 0 0 rgba(255, 0, 0, 0.5), -3px 0 0 rgba(0, 255, 0, 0.5);
  }
}
