.section {
  font-size: 20px;
  + & {
    margin-top: 20px;
  }
}
.section-title {
  font-size: 30px;
  font-weight: bold;
}
.section__list {
}
.section__list-item {
}

.section__list-item-link {
  display: block;

  &:hover {
    color: #333;
    background-color: #74f74b;
  }
}
