.container {
  display: grid;
  grid-template-areas:
    "content"
    "heading";
  grid-template-rows: 1fr auto;
  height: 100%;
}

.heading {
  grid-area: heading;
  font-size: 48px;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #00ff62;
  text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62;
  backdrop-filter: blur(50px) contrast(0.8) saturate(0.9);
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 5px,
    rgba(0, 0, 0, 0.1) 5px,
    rgba(0, 0, 0, 0.1) 8px
  );
}

.sections {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  overflow-y: auto;
  filter: contrast(0.9) blur(0.5px);
  text-shadow: 0 0 2px #00ff62, 0 0 5px #00ff62, 0 0 10px #00ff62;
  color: #00ff62;
}

.section {
  font-size: 20px;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
}
.section__list {
}
.section__list-item {
}

.section__list-item-link {
  display: block;

  &:hover {
    color: #333;
    background-color: #74f74b;
  }
}
