.container {
  display: grid;
  grid-template-areas:
    "content"
    "heading";
  grid-template-rows: 1fr auto;
  height: 100%;
  gap: 40px;
  filter: contrast(0.9) blur(0.5px);
  text-shadow: 0 0 5px #ffb300;
  color: #ffb300;
}

.heading {
  grid-area: heading;
  font-size: 48px;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.sections {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  overflow-y: auto;
}

.section {
  font-size: 20px;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
}
.section__list {
}
.section__list-item {
}

.section__list-item-link {
  display: block;

  &:hover {
    color: #333;
    background-color: #74f74b;
  }
}
